{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

<h3>Formulaire d'annonce</h3>

<div class="well">
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

	{{ form_errors(form) }}

	{{ form_label(form.date, "Date de l'annonce") }}
	{{ form_errors(form) }}
	{{ form_widget(form.date) }}

	{{ form_label(form.title, "Titre de l'annonce") }}
	{{ form_errors(form.title) }}
	{{ form_widget(form.title) }}

	{{ form_label(form.content, "Contenu de l'annonce") }}
	{{ form_errors(form.content) }}

	{{ form_widget(form.content) }}

	{{ form_label(form.image) }}

	</br>

	{{ form_label(form.image.url) }}
	{{ form_errors(form.image.url) }}
	{{ form_widget(form.image.url) }}

	{{ form_label(form.image.alt) }}
	{{ form_errors(form.image.alt) }}
	{{ form_widget(form.image.alt) }}

	{{ form_label(form.published) }}
	{{ form_errors(form.published) }}
	{{ form_widget(form.published) }}

	{{ form_row(form.categories)}}
	{#<a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a>#}

	{{ form_row(form.price)}}

	{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

	{{ form_rest(form) }}

	{{ form_end(form) }}


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script type="text/javascript">
	  $(document).ready(function() {
	    
	    var $container = $('div#oc_platformbundle_advert_categories');

	    var index = $container.find(':input').length;

	    $('#add_category').click(function(e) {
	      addCategory($container);

	      e.preventDefault();
	      return false;
	    });

	    if (index == 0) {
	      addCategory($container);
	    } else {
	      
	      $container.children('div').each(function() {
	        addDeleteLink($(this));
	      });
	    }

	    function addCategory($container) {
	      var template = $container.attr('data-prototype').replace(/__name__label__/g, 'Catégorie n°' + (index+1)).replace(/__name__/g, index);
	      
	      var $prototype = $(template);
	      addDeleteLink($prototype);

	      $container.append($prototype);
	      index++;
	    }

	    function addDeleteLink($prototype) {
	      
	      var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

	      $prototype.append($deleteLink);

	      $deleteLink.click(function(e) {
	        $prototype.remove();

	        e.preventDefault();
	        return false;
	      });
	    }
	  });
	</script>
</div>