{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
  {{ include("OCPlatformBundle:Advert:formFilter.html.twig") }}
  <h2>Liste des annonces</h2>

    {% for advert in listAdverts %}
      <div  class="well">
        <div class="row">
      {% if advert.image != null %}
          <div style="height:100%;text-align:center;vertical-align:middle" class="col-sm-3">
            <img style="width:100%" src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
          </div>
      {% endif %}
          <div class="col-sm-5">
            <a href="{{ path('oc_platform_view', {'id': advert.id}) }}"><h4>{{ advert.title }}</h4></a>
            <p>par {{ advert.author }},
            le {{ advert.date|date('d/m/Y') }}</p>
          </div>
          <div style="height:100%;vertical-align:middle;text-align:center"class="col-sm-4">
            <h2>{{ advert.price }} €</h2>
          </div>
        </div>
      </div>
    {% endfor %}
  
  <ul class="pagination">
    {% for p in range(1,nbPages) %}
      {% if nbPages != 0 %}
        <li {% if p == page %} class="active" {% endif %}>
          <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }} </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

{% endblock %}